<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="Checkout" packages="">

  <Properties>
    <Property name="LOG_DIR">logs</Property>
  </Properties>

  <Appenders>
    <RollingFile
      name="rollingFile"
      fileName="${LOG_DIR}/application.log"
      filePattern="${LOG_DIR}/application.%i.log.gz"
      ignoreExceptions="false">
      <PatternLayout>
          <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %m%n</Pattern>
      </PatternLayout>
      <Policies>
          <SizeBasedTriggeringPolicy size="5MB" />
      </Policies>
      <DefaultRolloverStrategy max="2">
        <Delete basePath="${LOG_DIR}" maxDepth="1">
          <IfFileName glob="*/app-*.log.gz" />
          <IfLastModified age="P30D" />
        </Delete>
      </DefaultRolloverStrategy>
    </RollingFile>
  </Appenders>

  <Loggers>
    <Root level="debug">
      <AppenderRef ref="rollingFile"/>
    </Root>
  </Loggers>

</Configuration>